@import '_setting.scss';
// Variables

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
}
